<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>serverList</key>
	<array>
		<dict>
			<key>serverName</key>
			<string>色友小说</string>
			<key>serverOnlyID</key>
			<string>90000</string>
			<key>serverHostURL</key>
			<string>https://seyouxiaoshuo.com</string>
			<key>serverIsEndble</key>
			<true/>
			<key>serverQuanZhong</key>
			<integer>650</integer>
			<key>serverInfo</key>
			<string>2026-07-15制作；HTML/XPath书源。搜索、详情、目录和正文规则按当前站点路由及公开现有规则整理。</string>
			<key>cateBooks</key>
			<array>
				<dict>
					<key>cateName</key>
					<string>玄幻</string>
					<key>cateCover</key>
					<string></string>
					<key>cateFirstPageUrl</key>
					<string>https://seyouxiaoshuo.com/index.php/book/category/list/4</string>
					<key>cateNextPageUrl</key>
					<string></string>
					<key>cate_URL_Unicode</key>
					<string>0</string>
					<key>catePostValueAndKey</key>
					<array>
						<dict>
							<key>postKey</key>
							<string>User-Agent</string>
							<key>postValue</key>
							<string>Mozilla/5.0 (iPhone; CPU iPhone OS 18_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.0 Mobile/15E148 Safari/604.1</string>
							<key>postLocation</key>
							<string>header</string>
						</dict>
						<dict>
							<key>postKey</key>
							<string>Referer</string>
							<key>postValue</key>
							<string>https://seyouxiaoshuo.com/</string>
							<key>postLocation</key>
							<string>header</string>
						</dict>
					</array>
					<key>cate_listDivision</key>
					<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' tjshu ')]//li</string>
					<key>cate_list_Xpath</key>
					<string>1</string>
					<key>cate_dataGBKtoUTF8</key>
					<string>0</string>
					<key>cate_parser</key>
					<dict>
						<key>cate_bookname</key>
						<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' name ')]</string>
						<key>cate_author</key>
						<string>.//span[1]</string>
						<key>cate_desc</key>
						<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' decs ') or contains(concat(' ', normalize-space(@class), ' '), ' date ')]</string>
						<key>cate_cover</key>
						<string>.//img[1]/@src</string>
						<key>cate_coveraddString</key>
						<string></string>
						<key>cate_coverendString</key>
						<string></string>
						<key>cate_detailUrl</key>
						<string>.//a[contains(@href,'/index.php/book/info/')][1]/@href</string>
						<key>cate_detailUrladdString</key>
						<string>https://seyouxiaoshuo.com</string>
						<key>cate_detailUrlendString</key>
						<string></string>
						<key>cate_infoUrl</key>
						<string>.//a[contains(@href,'/index.php/book/info/')][1]/@href</string>
						<key>cate_infoUrladdString</key>
						<string>https://seyouxiaoshuo.com</string>
						<key>cate_infoUrlendString</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>cateName</key>
					<string>都市</string>
					<key>cateCover</key>
					<string></string>
					<key>cateFirstPageUrl</key>
					<string>https://seyouxiaoshuo.com/index.php/book/category/list/6</string>
					<key>cateNextPageUrl</key>
					<string></string>
					<key>cate_URL_Unicode</key>
					<string>0</string>
					<key>catePostValueAndKey</key>
					<array>
						<dict>
							<key>postKey</key>
							<string>User-Agent</string>
							<key>postValue</key>
							<string>Mozilla/5.0 (iPhone; CPU iPhone OS 18_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.0 Mobile/15E148 Safari/604.1</string>
							<key>postLocation</key>
							<string>header</string>
						</dict>
						<dict>
							<key>postKey</key>
							<string>Referer</string>
							<key>postValue</key>
							<string>https://seyouxiaoshuo.com/</string>
							<key>postLocation</key>
							<string>header</string>
						</dict>
					</array>
					<key>cate_listDivision</key>
					<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' tjshu ')]//li</string>
					<key>cate_list_Xpath</key>
					<string>1</string>
					<key>cate_dataGBKtoUTF8</key>
					<string>0</string>
					<key>cate_parser</key>
					<dict>
						<key>cate_bookname</key>
						<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' name ')]</string>
						<key>cate_author</key>
						<string>.//span[1]</string>
						<key>cate_desc</key>
						<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' decs ') or contains(concat(' ', normalize-space(@class), ' '), ' date ')]</string>
						<key>cate_cover</key>
						<string>.//img[1]/@src</string>
						<key>cate_coveraddString</key>
						<string></string>
						<key>cate_coverendString</key>
						<string></string>
						<key>cate_detailUrl</key>
						<string>.//a[contains(@href,'/index.php/book/info/')][1]/@href</string>
						<key>cate_detailUrladdString</key>
						<string>https://seyouxiaoshuo.com</string>
						<key>cate_detailUrlendString</key>
						<string></string>
						<key>cate_infoUrl</key>
						<string>.//a[contains(@href,'/index.php/book/info/')][1]/@href</string>
						<key>cate_infoUrladdString</key>
						<string>https://seyouxiaoshuo.com</string>
						<key>cate_infoUrlendString</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>cateName</key>
					<string>历史</string>
					<key>cateCover</key>
					<string></string>
					<key>cateFirstPageUrl</key>
					<string>https://seyouxiaoshuo.com/index.php/book/category/list/9</string>
					<key>cateNextPageUrl</key>
					<string></string>
					<key>cate_URL_Unicode</key>
					<string>0</string>
					<key>catePostValueAndKey</key>
					<array>
						<dict>
							<key>postKey</key>
							<string>User-Agent</string>
							<key>postValue</key>
							<string>Mozilla/5.0 (iPhone; CPU iPhone OS 18_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.0 Mobile/15E148 Safari/604.1</string>
							<key>postLocation</key>
							<string>header</string>
						</dict>
						<dict>
							<key>postKey</key>
							<string>Referer</string>
							<key>postValue</key>
							<string>https://seyouxiaoshuo.com/</string>
							<key>postLocation</key>
							<string>header</string>
						</dict>
					</array>
					<key>cate_listDivision</key>
					<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' tjshu ')]//li</string>
					<key>cate_list_Xpath</key>
					<string>1</string>
					<key>cate_dataGBKtoUTF8</key>
					<string>0</string>
					<key>cate_parser</key>
					<dict>
						<key>cate_bookname</key>
						<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' name ')]</string>
						<key>cate_author</key>
						<string>.//span[1]</string>
						<key>cate_desc</key>
						<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' decs ') or contains(concat(' ', normalize-space(@class), ' '), ' date ')]</string>
						<key>cate_cover</key>
						<string>.//img[1]/@src</string>
						<key>cate_coveraddString</key>
						<string></string>
						<key>cate_coverendString</key>
						<string></string>
						<key>cate_detailUrl</key>
						<string>.//a[contains(@href,'/index.php/book/info/')][1]/@href</string>
						<key>cate_detailUrladdString</key>
						<string>https://seyouxiaoshuo.com</string>
						<key>cate_detailUrlendString</key>
						<string></string>
						<key>cate_infoUrl</key>
						<string>.//a[contains(@href,'/index.php/book/info/')][1]/@href</string>
						<key>cate_infoUrladdString</key>
						<string>https://seyouxiaoshuo.com</string>
						<key>cate_infoUrlendString</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>cateName</key>
					<string>武侠</string>
					<key>cateCover</key>
					<string></string>
					<key>cateFirstPageUrl</key>
					<string>https://seyouxiaoshuo.com/index.php/book/category/list/10</string>
					<key>cateNextPageUrl</key>
					<string></string>
					<key>cate_URL_Unicode</key>
					<string>0</string>
					<key>catePostValueAndKey</key>
					<array>
						<dict>
							<key>postKey</key>
							<string>User-Agent</string>
							<key>postValue</key>
							<string>Mozilla/5.0 (iPhone; CPU iPhone OS 18_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.0 Mobile/15E148 Safari/604.1</string>
							<key>postLocation</key>
							<string>header</string>
						</dict>
						<dict>
							<key>postKey</key>
							<string>Referer</string>
							<key>postValue</key>
							<string>https://seyouxiaoshuo.com/</string>
							<key>postLocation</key>
							<string>header</string>
						</dict>
					</array>
					<key>cate_listDivision</key>
					<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' tjshu ')]//li</string>
					<key>cate_list_Xpath</key>
					<string>1</string>
					<key>cate_dataGBKtoUTF8</key>
					<string>0</string>
					<key>cate_parser</key>
					<dict>
						<key>cate_bookname</key>
						<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' name ')]</string>
						<key>cate_author</key>
						<string>.//span[1]</string>
						<key>cate_desc</key>
						<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' decs ') or contains(concat(' ', normalize-space(@class), ' '), ' date ')]</string>
						<key>cate_cover</key>
						<string>.//img[1]/@src</string>
						<key>cate_coveraddString</key>
						<string></string>
						<key>cate_coverendString</key>
						<string></string>
						<key>cate_detailUrl</key>
						<string>.//a[contains(@href,'/index.php/book/info/')][1]/@href</string>
						<key>cate_detailUrladdString</key>
						<string>https://seyouxiaoshuo.com</string>
						<key>cate_detailUrlendString</key>
						<string></string>
						<key>cate_infoUrl</key>
						<string>.//a[contains(@href,'/index.php/book/info/')][1]/@href</string>
						<key>cate_infoUrladdString</key>
						<string>https://seyouxiaoshuo.com</string>
						<key>cate_infoUrlendString</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>cateName</key>
					<string>系统</string>
					<key>cateCover</key>
					<string></string>
					<key>cateFirstPageUrl</key>
					<string>https://seyouxiaoshuo.com/index.php/book/category/list/11</string>
					<key>cateNextPageUrl</key>
					<string></string>
					<key>cate_URL_Unicode</key>
					<string>0</string>
					<key>catePostValueAndKey</key>
					<array>
						<dict>
							<key>postKey</key>
							<string>User-Agent</string>
							<key>postValue</key>
							<string>Mozilla/5.0 (iPhone; CPU iPhone OS 18_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.0 Mobile/15E148 Safari/604.1</string>
							<key>postLocation</key>
							<string>header</string>
						</dict>
						<dict>
							<key>postKey</key>
							<string>Referer</string>
							<key>postValue</key>
							<string>https://seyouxiaoshuo.com/</string>
							<key>postLocation</key>
							<string>header</string>
						</dict>
					</array>
					<key>cate_listDivision</key>
					<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' tjshu ')]//li</string>
					<key>cate_list_Xpath</key>
					<string>1</string>
					<key>cate_dataGBKtoUTF8</key>
					<string>0</string>
					<key>cate_parser</key>
					<dict>
						<key>cate_bookname</key>
						<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' name ')]</string>
						<key>cate_author</key>
						<string>.//span[1]</string>
						<key>cate_desc</key>
						<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' decs ') or contains(concat(' ', normalize-space(@class), ' '), ' date ')]</string>
						<key>cate_cover</key>
						<string>.//img[1]/@src</string>
						<key>cate_coveraddString</key>
						<string></string>
						<key>cate_coverendString</key>
						<string></string>
						<key>cate_detailUrl</key>
						<string>.//a[contains(@href,'/index.php/book/info/')][1]/@href</string>
						<key>cate_detailUrladdString</key>
						<string>https://seyouxiaoshuo.com</string>
						<key>cate_detailUrlendString</key>
						<string></string>
						<key>cate_infoUrl</key>
						<string>.//a[contains(@href,'/index.php/book/info/')][1]/@href</string>
						<key>cate_infoUrladdString</key>
						<string>https://seyouxiaoshuo.com</string>
						<key>cate_infoUrlendString</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>cateName</key>
					<string>穿越</string>
					<key>cateCover</key>
					<string></string>
					<key>cateFirstPageUrl</key>
					<string>https://seyouxiaoshuo.com/index.php/book/category/list/12</string>
					<key>cateNextPageUrl</key>
					<string></string>
					<key>cate_URL_Unicode</key>
					<string>0</string>
					<key>catePostValueAndKey</key>
					<array>
						<dict>
							<key>postKey</key>
							<string>User-Agent</string>
							<key>postValue</key>
							<string>Mozilla/5.0 (iPhone; CPU iPhone OS 18_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.0 Mobile/15E148 Safari/604.1</string>
							<key>postLocation</key>
							<string>header</string>
						</dict>
						<dict>
							<key>postKey</key>
							<string>Referer</string>
							<key>postValue</key>
							<string>https://seyouxiaoshuo.com/</string>
							<key>postLocation</key>
							<string>header</string>
						</dict>
					</array>
					<key>cate_listDivision</key>
					<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' tjshu ')]//li</string>
					<key>cate_list_Xpath</key>
					<string>1</string>
					<key>cate_dataGBKtoUTF8</key>
					<string>0</string>
					<key>cate_parser</key>
					<dict>
						<key>cate_bookname</key>
						<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' name ')]</string>
						<key>cate_author</key>
						<string>.//span[1]</string>
						<key>cate_desc</key>
						<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' decs ') or contains(concat(' ', normalize-space(@class), ' '), ' date ')]</string>
						<key>cate_cover</key>
						<string>.//img[1]/@src</string>
						<key>cate_coveraddString</key>
						<string></string>
						<key>cate_coverendString</key>
						<string></string>
						<key>cate_detailUrl</key>
						<string>.//a[contains(@href,'/index.php/book/info/')][1]/@href</string>
						<key>cate_detailUrladdString</key>
						<string>https://seyouxiaoshuo.com</string>
						<key>cate_detailUrlendString</key>
						<string></string>
						<key>cate_infoUrl</key>
						<string>.//a[contains(@href,'/index.php/book/info/')][1]/@href</string>
						<key>cate_infoUrladdString</key>
						<string>https://seyouxiaoshuo.com</string>
						<key>cate_infoUrlendString</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>cateName</key>
					<string>科幻</string>
					<key>cateCover</key>
					<string></string>
					<key>cateFirstPageUrl</key>
					<string>https://seyouxiaoshuo.com/index.php/book/category/list/13</string>
					<key>cateNextPageUrl</key>
					<string></string>
					<key>cate_URL_Unicode</key>
					<string>0</string>
					<key>catePostValueAndKey</key>
					<array>
						<dict>
							<key>postKey</key>
							<string>User-Agent</string>
							<key>postValue</key>
							<string>Mozilla/5.0 (iPhone; CPU iPhone OS 18_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.0 Mobile/15E148 Safari/604.1</string>
							<key>postLocation</key>
							<string>header</string>
						</dict>
						<dict>
							<key>postKey</key>
							<string>Referer</string>
							<key>postValue</key>
							<string>https://seyouxiaoshuo.com/</string>
							<key>postLocation</key>
							<string>header</string>
						</dict>
					</array>
					<key>cate_listDivision</key>
					<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' tjshu ')]//li</string>
					<key>cate_list_Xpath</key>
					<string>1</string>
					<key>cate_dataGBKtoUTF8</key>
					<string>0</string>
					<key>cate_parser</key>
					<dict>
						<key>cate_bookname</key>
						<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' name ')]</string>
						<key>cate_author</key>
						<string>.//span[1]</string>
						<key>cate_desc</key>
						<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' decs ') or contains(concat(' ', normalize-space(@class), ' '), ' date ')]</string>
						<key>cate_cover</key>
						<string>.//img[1]/@src</string>
						<key>cate_coveraddString</key>
						<string></string>
						<key>cate_coverendString</key>
						<string></string>
						<key>cate_detailUrl</key>
						<string>.//a[contains(@href,'/index.php/book/info/')][1]/@href</string>
						<key>cate_detailUrladdString</key>
						<string>https://seyouxiaoshuo.com</string>
						<key>cate_detailUrlendString</key>
						<string></string>
						<key>cate_infoUrl</key>
						<string>.//a[contains(@href,'/index.php/book/info/')][1]/@href</string>
						<key>cate_infoUrladdString</key>
						<string>https://seyouxiaoshuo.com</string>
						<key>cate_infoUrlendString</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>cateName</key>
					<string>同人</string>
					<key>cateCover</key>
					<string></string>
					<key>cateFirstPageUrl</key>
					<string>https://seyouxiaoshuo.com/index.php/book/category/list/14</string>
					<key>cateNextPageUrl</key>
					<string></string>
					<key>cate_URL_Unicode</key>
					<string>0</string>
					<key>catePostValueAndKey</key>
					<array>
						<dict>
							<key>postKey</key>
							<string>User-Agent</string>
							<key>postValue</key>
							<string>Mozilla/5.0 (iPhone; CPU iPhone OS 18_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.0 Mobile/15E148 Safari/604.1</string>
							<key>postLocation</key>
							<string>header</string>
						</dict>
						<dict>
							<key>postKey</key>
							<string>Referer</string>
							<key>postValue</key>
							<string>https://seyouxiaoshuo.com/</string>
							<key>postLocation</key>
							<string>header</string>
						</dict>
					</array>
					<key>cate_listDivision</key>
					<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' tjshu ')]//li</string>
					<key>cate_list_Xpath</key>
					<string>1</string>
					<key>cate_dataGBKtoUTF8</key>
					<string>0</string>
					<key>cate_parser</key>
					<dict>
						<key>cate_bookname</key>
						<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' name ')]</string>
						<key>cate_author</key>
						<string>.//span[1]</string>
						<key>cate_desc</key>
						<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' decs ') or contains(concat(' ', normalize-space(@class), ' '), ' date ')]</string>
						<key>cate_cover</key>
						<string>.//img[1]/@src</string>
						<key>cate_coveraddString</key>
						<string></string>
						<key>cate_coverendString</key>
						<string></string>
						<key>cate_detailUrl</key>
						<string>.//a[contains(@href,'/index.php/book/info/')][1]/@href</string>
						<key>cate_detailUrladdString</key>
						<string>https://seyouxiaoshuo.com</string>
						<key>cate_detailUrlendString</key>
						<string></string>
						<key>cate_infoUrl</key>
						<string>.//a[contains(@href,'/index.php/book/info/')][1]/@href</string>
						<key>cate_infoUrladdString</key>
						<string>https://seyouxiaoshuo.com</string>
						<key>cate_infoUrlendString</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>cateName</key>
					<string>奇幻</string>
					<key>cateCover</key>
					<string></string>
					<key>cateFirstPageUrl</key>
					<string>https://seyouxiaoshuo.com/index.php/book/category/list/16</string>
					<key>cateNextPageUrl</key>
					<string></string>
					<key>cate_URL_Unicode</key>
					<string>0</string>
					<key>catePostValueAndKey</key>
					<array>
						<dict>
							<key>postKey</key>
							<string>User-Agent</string>
							<key>postValue</key>
							<string>Mozilla/5.0 (iPhone; CPU iPhone OS 18_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.0 Mobile/15E148 Safari/604.1</string>
							<key>postLocation</key>
							<string>header</string>
						</dict>
						<dict>
							<key>postKey</key>
							<string>Referer</string>
							<key>postValue</key>
							<string>https://seyouxiaoshuo.com/</string>
							<key>postLocation</key>
							<string>header</string>
						</dict>
					</array>
					<key>cate_listDivision</key>
					<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' tjshu ')]//li</string>
					<key>cate_list_Xpath</key>
					<string>1</string>
					<key>cate_dataGBKtoUTF8</key>
					<string>0</string>
					<key>cate_parser</key>
					<dict>
						<key>cate_bookname</key>
						<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' name ')]</string>
						<key>cate_author</key>
						<string>.//span[1]</string>
						<key>cate_desc</key>
						<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' decs ') or contains(concat(' ', normalize-space(@class), ' '), ' date ')]</string>
						<key>cate_cover</key>
						<string>.//img[1]/@src</string>
						<key>cate_coveraddString</key>
						<string></string>
						<key>cate_coverendString</key>
						<string></string>
						<key>cate_detailUrl</key>
						<string>.//a[contains(@href,'/index.php/book/info/')][1]/@href</string>
						<key>cate_detailUrladdString</key>
						<string>https://seyouxiaoshuo.com</string>
						<key>cate_detailUrlendString</key>
						<string></string>
						<key>cate_infoUrl</key>
						<string>.//a[contains(@href,'/index.php/book/info/')][1]/@href</string>
						<key>cate_infoUrladdString</key>
						<string>https://seyouxiaoshuo.com</string>
						<key>cate_infoUrlendString</key>
						<string></string>
					</dict>
				</dict>
			</array>
			<key>searchBook</key>
			<dict>
				<key>searchFirstPageUrl</key>
				<string>https://seyouxiaoshuo.com/index.php/book/search?action=search&amp;key=@@@</string>
				<key>searchNextPageUrl</key>
				<string></string>
				<key>searchPageRequestType</key>
				<string>0</string>
				<key>searchPostValueAndKey</key>
				<array>
					<dict>
						<key>postKey</key>
						<string>User-Agent</string>
						<key>postValue</key>
						<string>Mozilla/5.0 (iPhone; CPU iPhone OS 18_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.0 Mobile/15E148 Safari/604.1</string>
						<key>postLocation</key>
						<string>header</string>
					</dict>
					<dict>
						<key>postKey</key>
						<string>Referer</string>
						<key>postValue</key>
						<string>https://seyouxiaoshuo.com/</string>
						<key>postLocation</key>
						<string>header</string>
					</dict>
				</array>
				<key>search_listDivision</key>
				<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' tjshu ')]//li</string>
				<key>search_URL_Unicode</key>
				<string>0</string>
				<key>search_list_Xpath</key>
				<string>1</string>
				<key>search_dataGBKtoUTF8</key>
				<string>0</string>
				<key>search_parser</key>
				<dict>
					<key>search_bookname</key>
					<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' name ')]</string>
					<key>search_bookname_need_newline</key>
					<true/>
					<key>search_author</key>
					<string>.//span[1]</string>
					<key>search_author_need_newline</key>
					<false/>
					<key>search_author_replace</key>
					<array/>
					<key>search_desc</key>
					<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' decs ') or contains(concat(' ', normalize-space(@class), ' '), ' date ')]</string>
					<key>search_cover</key>
					<string>.//img[1]/@src</string>
					<key>search_coveraddString</key>
					<string></string>
					<key>search_coverendString</key>
					<string></string>
					<key>search_detailUrl</key>
					<string>.//a[contains(@href,'/index.php/book/info/')][1]/@href</string>
					<key>search_detailUrladdString</key>
					<string>https://seyouxiaoshuo.com</string>
					<key>search_detailUrlendString</key>
					<string></string>
					<key>search_infoUrl</key>
					<string>.//a[contains(@href,'/index.php/book/info/')][1]/@href</string>
					<key>search_infoUrladdString</key>
					<string>https://seyouxiaoshuo.com</string>
					<key>search_infoUrlendString</key>
					<string></string>
				</dict>
			</dict>
			<key>detailBook</key>
			<dict>
				<key>detail_dataGBKtoUTF8</key>
				<string>0</string>
				<key>lastUpdateDate</key>
				<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' tjgxdt ')]</string>
				<key>detail_author</key>
				<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' at ')]</string>
				<key>detail_img_cover</key>
				<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' photo ')]//img[1]/@src</string>
				<key>detail_coveraddString</key>
				<string></string>
				<key>detail_coverendString</key>
				<string></string>
				<key>detail_desc</key>
				<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' decs ')]</string>
				<key>mulu_url_isneed_load</key>
				<false/>
				<key>mulu_url_isneed_load_dataGBKtoUTF8</key>
				<string>0</string>
				<key>detail_mulu_headers</key>
				<array>
					<dict>
						<key>postKey</key>
						<string>User-Agent</string>
						<key>postValue</key>
						<string>Mozilla/5.0 (iPhone; CPU iPhone OS 18_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.0 Mobile/15E148 Safari/604.1</string>
						<key>postLocation</key>
						<string>header</string>
					</dict>
					<dict>
						<key>postKey</key>
						<string>Referer</string>
						<key>postValue</key>
						<string>https://seyouxiaoshuo.com/</string>
						<key>postLocation</key>
						<string>header</string>
					</dict>
				</array>
				<key>detail_muLu_Url</key>
				<string></string>
				<key>detail_muLuUrladdString</key>
				<string></string>
				<key>detail_muLuUrlendString</key>
				<string></string>
				<key>mulu_list</key>
				<string>.//*[@id='chapterlsit']//a[contains(@href,'/index.php/book/read/')]</string>
				<key>mulu_url</key>
				<string>./@href</string>
				<key>mulu_title</key>
				<string>.</string>
				<key>mulu_url_addString</key>
				<string>https://seyouxiaoshuo.com</string>
			</dict>
			<key>readBook</key>
			<dict>
				<key>chapet_load_more_next</key>
				<true/>
				<key>chapet_need_html_tag</key>
				<true/>
				<key>chapter_dataGBKtoUTF8</key>
				<string>0</string>
				<key>chapterContent</key>
				<string>.//*[contains(concat(' ', normalize-space(@class), ' '), ' tjc-cot ')]</string>
				<key>chapter_url_headers</key>
				<array>
					<dict>
						<key>postKey</key>
						<string>User-Agent</string>
						<key>postValue</key>
						<string>Mozilla/5.0 (iPhone; CPU iPhone OS 18_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.0 Mobile/15E148 Safari/604.1</string>
						<key>postLocation</key>
						<string>header</string>
					</dict>
					<dict>
						<key>postKey</key>
						<string>Referer</string>
						<key>postValue</key>
						<string>https://seyouxiaoshuo.com/</string>
						<key>postLocation</key>
						<string>header</string>
					</dict>
				</array>
				<key>chapterNextPageUrl</key>
				<string></string>
				<key>chapterNextPageUrl_addString</key>
				<string></string>
				<key>chapterNextPageTitle</key>
				<string></string>
				<key>chapterNextEqualKey</key>
				<string></string>
				<key>contentReplaces</key>
				<array>
					<dict>
						<key>&lt;div class="tjc-cot"&gt;</key>
						<string>=@=</string>
					</dict>
					<dict>
						<key>&lt;/div&gt;</key>
						<string>=@=</string>
					</dict>
					<dict>
						<key>&lt;p&gt;</key>
						<string>@@@</string>
					</dict>
					<dict>
						<key>&lt;/p&gt;</key>
						<string>=@=</string>
					</dict>
					<dict>
						<key>&lt;p/&gt;</key>
						<string>=@=</string>
					</dict>
					<dict>
						<key>&lt;br&gt;</key>
						<string>[@@@##]</string>
					</dict>
					<dict>
						<key>&lt;br/&gt;</key>
						<string>[@@@##]</string>
					</dict>
					<dict>
						<key>&lt;br /&gt;</key>
						<string>[@@@##]</string>
					</dict>
					<dict>
						<key>&amp;nbsp;</key>
						<string> </string>
					</dict>
				</array>
				<key>contentRegularExpressi</key>
				<array/>
			</dict>
		</dict>
	</array>
</dict>
</plist>
